@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: url("../webfonts/Lato-Light.eot");
  src: url("../webfonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../webfonts/Lato-Light.svg#Lato-Light") format("svg"), url("../webfonts/Lato-Light.woff") format("woff"), url("../webfonts/Lato-Light.woff2") format("woff2");
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-style: normal;
  src: url("../webfonts/Lato-Regular.eot");
  src: url("../webfonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../webfonts/Lato-Regular.svg#Lato-Regular") format("svg"), url("../webfonts/Lato-Regular.woff") format("woff"), url("../webfonts/Lato-Regular.woff2") format("woff2");
}


@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url("../webfonts/Lato-Heavy.eot");
  src: url("../webfonts/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../webfonts/Lato-Heavy.svg#Lato-Heavy") format("svg"), url("../webfonts/Lato-Heavy.woff") format("woff"), url("../webfonts/Lato-Heavy.woff2") format("woff2");
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: normal;
  src: url("../webfonts/Lato-Black.eot");
  src: url("../webfonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../webfonts/Lato-Black.svg#Lato-Black") format("svg"), url("../webfonts/Lato-Black.woff") format("woff"), url("../webfonts/Lato-Black.woff2") format("woff2");
}
body {
  line-height: 1;
  margin: 0;
  padding: 0;
  border: 0;
}

 ul {
  list-style: none;
}

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}
.container {
  width: 71.3%;
  margin: 0 auto;
}
.main {
  position: relative;
}

.header {
  background-color: #222224;
  position: relative;
}

.header__wrapper {
  min-height: 75px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo_wrapper {
 display: flex;
 align-items: center;
}

.header__logo {
  margin: 0 41px 0 0;
}

.header__list {
	display: flex;
}

.header__button {
	display: flex;
	align-items: center;
	justify-content: space-between;
  	background-color: transparent;
  	border: none;
  	margin: 0 0 0 33px;
}

.intro {
	display: flex;
	align-items: center;
	justify-content: center;
  	background-color: #F1E4E6;
}

.intro__heading_wrapper {
  	width: 800px;
	display: flex;
	justify-content: start;
 	align-items: center;
  	padding: 0 0 0 40px;
}

.intro__img {
  width: 800px;
  height: auto;
}

.intro__heading {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
}

.intro__text {
  font-size: 37px;
  line-height: 44px;
  font-weight: 700;
  font-style: normal;
  display: block;
}

                                                                   /*Разделы на главной странице*/
.stock__list {
	display: flex;
	align-items: center;
	justify-content: space-between;
  	flex-wrap: wrap;
  	padding: 65px 0 0 0;
  	max-width: 1140px;
}

.stock__item {
  width: 32%;
  min-height: 260px;
  background-blend-mode: overlay;
  display: flex;
	align-items: center;
   justify-content: center;
   flex-direction: column;
}
.stock{
	margin-bottom: 70px;
}
.stock__item_text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  color: #F16D7F;
  text-transform: uppercase;
}

.stock__item_woman {
  background: url("../img/img_item_woman.jpg"), rgba(33, 22, 22, 0.7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.stock__item_man {
  background: url("../img/img_item_man.jpg"), rgba(33, 22, 22, 0.7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.stock__item_kids {
  background: url("../img/img_item_kid.jpg"), rgba(33, 22, 22, 0.7);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.stock__item_accessoires {
  background: url("../img/img_item_accessoires.jpg"), rgba(33, 22, 22, 0.7);
  width: 100%;
  min-height: 180px;
  margin: 30px 0 0 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

                                                                     /*Подвал*/
.copyright {
  background: #222224;
  padding: 25px 0 25px 0;
}

.copyright__list {
	display: flex;
  	align-items: center;
   justify-content: space-between;
}

.copyright__list_social {
 	display: flex;
 	flex-direction: row;
  	justify-content: end;
}

.copyright__list_text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
}

.heading {
  background: #F8F3F4;
  min-height: 148px;
	display: flex;
  align-items: center;
 	justify-content: space-between;
}

.heading__heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #F16D7F;
}

.registration__content_wrapper {
  padding: 30px 0 96px 0;
  display: flex;
   align-items: center;
   justify-content: space-between;
 	align-items: start;
}

.registration__form {
  display: flex;
flex-direction: column;
  width: 360px;
}
.registration__form_input {
  width: 340px;
  min-height: 44px;
  border: 1px solid #A4A4A4;
  margin: 20px 0 0 0;
  padding: 0 0 0 17px;
  text-transform: capitalize;
}
.registration__form_login_legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222224;
  text-transform: capitalize;
}

.registration__form_text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  color: #B1B1B1;
  margin: 15px 0 0 0;
  display: block;
  max-width: 360px;
}

.registration__form_submit {
  width: 160px;
  height: 50px;
  margin: 40px 0 0 0;
  background: #F16D7F;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  position: relative;
  text-align: center;
  padding: 0;
}

.registration__form_submit:hover {
  color: #F16D7F;
  background: #FFFFFF;
  border: 1px solid #F16D7F;
}

                                                                    /*Корзина*/
.cart {
  display: flex;
   justify-content: space-between;
}

.cart__wrapper {
  display: flex;
   flex-direction: column;
   align-items: center;
  padding: 96px 0 128px 0;
}

.cart__list {
  display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.cart__list-item {
  width: 100%;
  max-height: 306px;
  display: flex;
  margin: 0 0 40px 0;
}

.cart__list-heading {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #222224;
  max-width: 200px;
  margin: 0 0 42px 0;
}

.cart__total {
  width: 360px;
  height: 214px;
  background-color: #F5F3F3;
  margin: 57px 0 0 0;
  display: flex;
flex-direction: column;
}

.cart__total_text_wrapper {
  display: flex;
	flex-direction: column;
 	align-items: flex-end;
  margin: 40px 30px 0 0;
}

.cart__grandtotal_text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  color: #222224;
  text-transform: uppercase;
  margin: 12px 0 0 0;
}

.cart__total_checkout_wrapper {
  display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.cart__total_line {
  width: 275px;
  background-color: #E2E2E2;
  margin: 21px 0 0 0;
}

.cart__total_checkout {
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin: 17px 0 0 0;
  border: none;
}

.cart__total_checkout:hover {
  background-color: #FFFFFF;
  color: #F16D7F;
  border: 1px solid #F16D7F;
}
.copyright__list_el{
	margin-right: 20px;
}


